<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>746435372425-2vsottijdbq5tdjhvjukdrgkkoa6t2ue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746435372425-2vsottijdbq5tdjhvjukdrgkkoa6t2ue</string>
	<key>API_KEY</key>
	<string>AIzaSyD_MN30h49lXLpWpEKYeiWpM4CXatZyfxg</string>
	<key>GCM_SENDER_ID</key>
	<string>746435372425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dadou1885.mySweatHotel</string>
	<key>PROJECT_ID</key>
	<string>notel-765b1</string>
	<key>STORAGE_BUCKET</key>
	<string>notel-765b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746435372425:ios:3bfddea6039d77c704ed58</string>
	<key>DATABASE_URL</key>
	<string>https://notel-765b1.firebaseio.com</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Allow our app to access your calendar in order to ease your experience.</string>
	<key>NSCameraUsageDescription</key>
	<string>Our app uses your camera to scan hotels QR codes in order to create communication access to them.</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow our app to access your contacts</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow our app to use your location</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow our app to access your microphone</string>
	<key>NSMotionUsageDescription</key>
	<string>Allow our app to access your device's accelerometer</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Give our app permission to save photos in order to keep your profile up to date.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Give our app permission to access your photos to improve your experience. That way, you could picture your needs instead of writing them.</string>
	<key>NSRemindersUsageDescription</key>
	<string>Allow our app to access your reminders</string>
</dict>
</plist>